


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/"><i class="fa fa-fw fa-dashboard mx-1"></i>Admin Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#"><i class="fa fa-fw fa-regular fa-cube mx-1"></i>Stock</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-fw fa-regular fa-building mx-1"></i>Billing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-fw fa-regular fa-users mx-1"></i> Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-fw fa-percent mx-1"></i>Discount</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-fw fa-gear mx-1"></i>Settings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

      <!--<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>-->
   
  
