<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon rotate-n-15">
            
        </div>
        <div class="brand-style">point of sales</div>
    </a>
     

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link dashboard-link" routerLink="navbar">
          <i class="fa fa-fw fa-dashboard mx-1"></i>
          Admin Dashboard
        </a>
      </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa fa-fw fa-regular fa-cube mx-1"></i>
            <span>Stock</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="stockadd"><i class="fa fa-fw fas fa-plus-square mx-1"></i>Add Stock</a>
                <a class="collapse-item" routerLink="currunt-stock-product"><i class="fa fa-fw fa-link mx-1"></i>Current Stock Product</a>
                <a class="collapse-item" routerLink="out-of-stockproduct"><i class="fa fa-fw fa-link mx-1"></i>Out Of Stock Product</a>
                <a class="collapse-item" routerLink="all-product"><i class="fa fa-fw fa-regular fa-cube mx-1"></i>All Product</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
<li class="nav-item">
        <a class="nav-link dashboard-link" routerLink="billing">
          <i class="fa fa-fw fa-regular fa-building mx-1"></i>
          Billing
        </a>
      </li>
      <hr class="sidebar-divider">
 <li class="nav-item">
        <a class="nav-link dashboard-link" routerLink="/customer">
          <i class="fa fa-fw fa-regular fa-users mx-1"></i>
         Customer
        </a>
      </li>
      <hr class="sidebar-divider">
<li class="nav-item">
        <a class="nav-link dashboard-link" routerLink="/discount">
          <i class="fa fa-fw fa-percent mx-1"></i>
        Discount
        </a>
      </li>
      <hr class="sidebar-divider">
<li class="nav-item">
        <a class="nav-link dashboard-link" routerLink="/settings">
          <i class="fa fa-fw fa-gear mx-1"></i>
        Settings
        </a>
      </li>
    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
</ul>