.dashboard-link {
    font-size:14px; /* set the font size as desired */
  }
  .brand-style {
    font-family: Arial, sans-serif; /* set the font family */
    font-size: 15px; /* set the font size */
    font-weight: bold; /* set the font weight */
    color: #ece7e7; /* set the font color */
    /* add other styles as desired */
  }
  
  